/***********************************************************************************************/
/*  Project: Christmas Lights CSS  */
/*  File: Style.css 			  */
/***********************************************************************************************/

body {
	font-family: arial, sans-serif;
	font-size: 16px;
	letter-spacing: 1.2em;
}